.card-list__nav{
  position: fixed;
  top: 0;
}
.page__card-list{
  background-color: $bg-color;
  .card-list__item{
    text-align: center;
    outline: none;
  }
  .card-list__text--outer{
    position: relative;
  }
  .card-list__text{
    word-break: break-all;
    font-weight: normal;
    font-size: 20vw;
    color: #444;
  }
  .card-list-spech-button{
    position: absolute;
    transform: translateY(-65%);
    right: 10px;
  }
  .card-list__note{
    background-color: #FFF;
    text-align: left;
    color: #757575;
  }
  .card-list__note__title{
    text-align: left;
    font-weight: normal;
  }
  .card-list__note__text{
    padding: 30px;
  }
}
