.page__card-list{
  .card-list__item{
    text-align: center;
    outline: none;
  }
  .card-list__text{
    font-size: 20vw;
    margin-bottom: 30px;
  }
  .card-list__note{
    width: 80%;
    margin: 0 auto;
    background-color: #F2F2F2;
  }
}
