<md-content class="md-padding login-container" flex layout="column" layout-align="center center">
  <md-card class="login-card">
    <md-toolbar class="md-tall md-padding" layout-align="center">
      <h1 class="title md-display-1">Speech Flashcards</h1>
    </md-toolbar>
    <md-content class="md-padding description">
      <p class="md-padding">Speech Flashcardでは、いろんな言葉の単語帳を作成して、発音と一緒に暗記できます</p>
      <md-content>
        <voice-select title="Sample Voice"></voice-select>
      </md-content>
    </md-content>
    <md-content class="buttons" layout-padding layout-sm="column" layout-gt-sm="row" layout-align="center center">
      <md-button class="md-raised facebook" href="/auth/facebook" target="_self"><md-icon aria-label="facebook auth" md-svg-src="images/icons/facebook-box.svg"></md-icon>facebook login</md-button>
      <md-button class="md-raised twitter" href="/auth/twitter" target="_self"><md-icon aria-label="twitter auth" md-svg-src="images/icons/twitter-box.svg"></md-icon>twitter login</md-button>
    </md-content>
  </md-card>
</md-content>
