<md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
  <md-toolbar class="md-theme-indigo">
    <h1 class="md-toolbar-tools">Menu</h1>
  </md-toolbar>
  <md-content layout-padding>
    <md-list>
      <!--
      <md-subheader class="md-no-sticky">settings</md-subheader>
      <md-list-item ng-click='sideNav.audioSettings($event)'>
        <md-icon aria-label="Audio Settings" md-svg-src="images/icons/library_music_black.svg"></md-icon>
        <p>Audio</p>
      </md-list-item>
      <md-list-item ng-click='sideNav.personalSettings($event)'>
        <md-icon aria-label="account settings" md-svg-src="images/icons/perm_identity_black.svg"></md-icon>
        <p>Account</p>
      </md-list-item>
      -->
      <md-subheader class="md-no-sticky">extra</md-subheader>
      <md-list-item ng-click="sideNav.logout($event)">
        <md-icon aria-label="signout" md-svg-src="images/icons/power_settings_new_black.svg"></md-icon>
        <p>Sign Out</p>
      </md-list-item>
    </md-list>
  </md-content>
</md-sidenav>
