.md-sidenav__outer{
  position: relative;
  z-index: 1;
}
@media (max-width: $layout-breakpoint-sm) {
  .md-sidenav__outer{
    position: absolute;
    top: 88px;
    left: 0;
    width: 100%;
    height: calc(100% - 88px);
  }
}
md-sidenav {
  max-width: 230px;
  min-width: 230px;
}
