<!DOCTYPE html>
<html ng-app="EnglishFlashCard" ng-strict-di>
<head>
  <title>EnglishFlashCard</title>
  <meta charset="utf-8">
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application" %>
</head>
<body layout="column" ng-controller="appController as appCtrl">
  <md-toolbar class="md-toolbar-tools" md-scroll-shrink>
    <md-button class="md-icon-button" aria-label="Settings" ng-click="appCtrl.sideNav.toggleLeft()"><md-icon md-svg-icon="images/icons/menu_white.svg"></md-icon></md-button>
    <h2><span ng-bind="appCtrl.page.preName" ng-click="appCtrl.routers.book.goList()"></span><span ng-bind="appCtrl.page.name"></span></h2>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="Card list" ng-show="appCtrl.page.name === 'cards'" ng-click="appCtrl.cardList.toggleLeft()"><md-icon md-svg-icon="images/icons/list_white.svg"></md-icon></md-button>
  </md-toolbar>
  <side-nav></side-nav>
  <card-list card-list="appCtrl.cardListData"></card-list>
  <md-content flex layout="row">
    <%= yield %>
  </md-content>
  <%= javascript_include_tag 'application' %>
</body>
</html>
