<!DOCTYPE html>
<html ng-app="englishFlashCardApp" ng-strict-di>
<head>
  <title>EnglishFlashCard</title>
  <meta charset="utf-8">
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application" %>
</head>
<body layout="column" ng-controller="appController as appCtrl">
  <md-toolbar class="md-toolbar-tools" md-scroll-shrink>
    <md-button class="md-icon-button" aria-label="Settings" ng-click="appCtrl.sideNav.toggleLeft()"><md-icon md-svg-icon="images/icons/menu_white.svg"></md-icon></md-button>
    <h2><span>LIST</span></h2>
  </md-toolbar>
  <md-content flex layout="row">
    <side-nav></side-nav>
    <%= yield %>
  </md-content>
  <%= javascript_include_tag 'application' %>
</body>
</html>
