<md-content class="page__card-list js-page__card-detail">
  <div ng-click="cardsDetail.onClickCard(cardsDetail.card.text)">
    <p ng-bind="cardsDetail.card.text"></p>
    <p ng-bind="cardsDetail.card.note"></p>
  </div>
  <md-button ng-disabled="{{!cardsDetail.cardIterator.hasPrev}}" ng-click="cardsDetail.onClickPrev()">prev</md-button>
  <md-button ng-disabled="{{!cardsDetail.cardIterator.hasNext}}" ng-click="cardsDetail.onClickNext()">next</md-button>
  <md-button ng-click="cardsDetail.routers.book.goList()">back list</md-button>
  <fc-card-menu></fc-card-menu>
</md-content>
