<md-content class="card-menu" layout="column" layout-align="center end">

  <md-button class="md-fab md-mini md-primary card-menu__create-button" aria-label="" ng-click="cardsMenu.createCardDialog.show($event)">
    <!-- <md-tooltip md-visible="true" md-direction="left" class="card-menu__create-tooltip">create card</md-tooltip> -->
    <md-icon md-svg-src="images/icons/mode_edit.svg"></md-icon>
  </md-button>

  <md-button class="md-fab card-menu__edit-button" aria-label="">
      <md-icon md-svg-src="images/icons/add.svg"></md-icon>
  </md-button>


</md-content>
